@import "tailwindcss";

html,
body {
  background: transparent;
}

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #3f3f46;
  --color-surface: #27272a;
  --color-border: #52525b;
  --color-error: #ef4444;
  --color-muted: #71717a;
}
